body { 
    background-color:hsl(212, 45%, 89%); 
    font-family: Outfit;
    margin: 0;
}
.page {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 275px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 10px;    
}
img {
    width: 100%;
    border-radius: 10px;
}
.text {
    margin: 15px;
}
h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}
p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}
.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}